<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="/cv">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
    {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:john.m.clark10@okstate.edu">My Email</a></li>
        		<li><a href="https://www.linkedin.com/in/jmclark81/">My LinkedIn page</a></li>
			</ul>
		</footer>
	</body>
</html>
